<!DOCTYPE html>
<html lang="en">
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>easy ktv</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <style>
        html {
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="nav nav-pills flex-column flex-sm-row">
        {% block category %}
            {% for mid, title in menu_list %}
                <a class="flex-sm-fill text-sm-center nav-link{% if mid == mid_param %} active{% endif %}"
                   href="{% url 'home' %}?mid={{ mid }}">{{ title }}</a>
            {% endfor %}
        {% endblock %}
    </nav>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<div class="container">
    {% block content_list %}
    {% endblock %}
</div>
<div class="container">
    {% block pagination %}
    {% endblock %}
</div>
</body>
</html>
